@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

.header {
  position: relative;
  z-index: 2;
}

.letters {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--width);
}

.letter {
  display: grid;
}

.even-end + .even-start,
.odd-end + .odd-start {
  margin-left: var(--width);
}

.odd-start:first-child {
  margin-left: calc(var(--width) * -1);
}

.column {
  width: var(--width);
  display: grid;
  row-gap: var(--width);
}
.column-asc {
  position: relative;
  bottom: var(--width);
}

.column span {
  display: inline-block;
  width: var(--sq-width);
  height: var(--sq-width);
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: var(--text-color);
}

.image {
  position: relative;
  z-index: 1;
  width: 0;
  height: 0;
  transform: rotate(45deg);
}
.image .image-part {
  position: absolute;
  top: 0;
  transform-origin: bottom center;
}
.image .image-part:nth-child(2) {
  transform: rotate(90deg);
}
.image .image-part:nth-child(3) {
  transform: rotate(180deg);
}
.image .image-part:nth-child(4) {
  transform: rotate(270deg);
}

.circle-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 9999px;
  background-color: var(--bg-color);
}

.text-wrapper {
  position: relative;
  margin-bottom: 20px;
  margin: 30px;
}

.text-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-color);
}
.text-wrapper svg:last-child {
  letter-spacing: 8px;
}

.inside-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999999px;

  box-sizing: border-box;
}
